* {
    font-family: "Bree Serif", serif;
}

body {
    background: #bbb;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-weight: normal;
    text-align: center;
    /* color: white; */
}

.silhouette {
    filter: brightness(0);
}

#pokemon-image {
    width: 300px;
    height: auto;
}

.left-container {
    width: 15%;
        background: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.right-container {
    width: 15%;
    background: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    /* width: 35%; */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.check-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background: #ddd;
}

#guess-input {
    padding: 12px;
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
}

#skip-button {
    padding: 8px 24px;
    text-transform: uppercase;
}
